*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;
  color: #2f2f42;
  position: relative;
}
.icon-Group {
  color: #2f2f37;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.menu-button {
  cursor: pointer;
  position: relative;
}
.mobile-nav .no-bullets-2 {
  position: fixed;
  top: auto;
  left: auto;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  color: #2f2f42;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  display: none;
}
.menu-close {
  position: absolute;

  width: 8px;
  height: 8px;
  top: 8px;
  left: 8px;
  color: #2e2f42;
  cursor: pointer;
}
#menu-toggle {
  display: none;
}
.mobile-menu-toggle:checked ~ header .mobile-nav {
  display: flex;
}
.back-1 {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/img14.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding: 120px 0;
  text-align: center;
}
@media (min-resolution: 192dpi) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("bg@2x.jpg");
}
.title-1 {
  top: 260px;
  left: 472px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-style: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
}
.back-2 {
  background-color: #2e2f42;

  text-align: left;
}

.title-3 {
  visibility: hidden;
}
.modal-content {
  visibility: hidden;
}
.icon-antenna {
  display: none;
}
.icon-clock {
  display: none;
}
.icon-diagram {
  display: none;
}
.icon-astronaut {
  display: none;
}
.no-bullets {
  list-style: none;
  display: block;
  gap: 32px;
  top: 1248px;
  justify-content: center;
  text-align: center;
}
.no-bullets h3 {
  font-weight: 700px;
  font-style: bold;
  font-size: 36px;
  color: #2e2f42;
}
.no-bullets p {
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  color: #2e2f42;
}
.nvg {
  display: flex;
  align-items: center;
  gap: 100px;
}
.web {
  color: #4d5ae5;
}

.top-logo .studio {
  color: #2e2f42;
}

.bottom-logo .studio {
  color: #f4f4fd;
}
.logo {
  text-decoration: none;
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
}
.part-1 {
  background-color: #f4f4fd;
}
.back-3 h2 {
  font-style: bold;
  font-size: 36px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.space h2 {
  font-style: bold;
  font-size: 36px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.back-3 h3 {
  font-size: 20px;
}
.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  gap: 24px;
}
.social-links a {
  border-radius: 50px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  gap: 24px;
}
.social-links a:hover {
  background-color: #31d0aa;
}
.shadow-1 {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}
.shadow {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
  background-color: #fffff;
}

.shadow {
  border-right: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-color: #404bbf;
}
.content-5 {
  text-align: center;
  color: #ffffff;
  padding-bottom: 30px;
}
.content-4 {
  text-align: center;
}
.footer-right {
  color: #ffffff;
}
.subscribe {
  color: #ffffff;
}
.icon-icon-send {
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
}

.cashless-card {
  position: relative;
  overflow: hidden;
  width: 288px;
  height: 280px;
}
.shadow img {
  width: 288px;
  height: 280px;
  margin-left: 50px;
}
.no-bullets-1 h3 {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.no-bullets-1 p {
  margin-left: 50px;
  margin-bottom: 20px;
}
.order-btn {
  top: 428px;
  left: 636px;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  gap: 10px;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.044em;
}
.content-1 h3 {
  margin-top: 100px;
  margin-bottom: 16px;
}
.back-3 h2 {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
}
.space h2 {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
}
