*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;
  color: #2f2f42;
  padding: 16px;
}
.icon-Group {
  color: #2f2f37;
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: relative;
}
.burger {
  cursor: pointer;
  position: relative;
  left: 80px;
}
.mobile-menu {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 1000;
  padding: 24px;
  background-color: #ffffff;
  height: 100vh;
}
.mobile-menu .title-3 {
  font-style: normal;
  margin-top: 48px;
  margin-bottom: 200px;
  padding-top: 200px;
}
.social-media {
  gap: 10px;
}
.mobile-menu .title-3 a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  color: #434455;
}

.mobile-menu {
  margin-top: auto;
  padding-bottom: 24px;
}
.menu-toggle {
  display: none;
}

.menu-toggle:checked ~ .mobile-menu {
  display: block;
}
.back-1 {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/img14.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding: 120px 0;
  text-align: center;
}
@media (min-resolution: 192dpi) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("bg@2x.jpg");
}

.burger {
  display: block;
}

@media (min-width: 1024px) {
  .burger {
    display: none;
  }
}

.title-1 {
  top: 260px;
  left: 472px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-style: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
}
.back-2 {
  background-color: #2e2f42;

  text-align: left;
}

.icon-antenna {
  display: none;
}
.icon-clock {
  display: none;
}
.icon-diagram {
  display: none;
}
.icon-astronaut {
  display: none;
}
.no-bullets {
  list-style: none;
  display: block;
  gap: 32px;
  top: 1248px;
  justify-content: center;
  text-align: center;
}
.no-bullets h3 {
  font-weight: 700px;
  font-style: bold;
  font-size: 36px;
  color: #2e2f42;
}
.no-bullets p {
  font-weight: 500;
  font-style: medium;
  font-size: 16px;
  color: #2e2f42;
}
.nvg {
  display: flex;
  align-items: center;
  gap: 100px;
}
.web {
  color: #4d5ae5;
}

.top-logo .studio {
  color: #2e2f42;
}

.bottom-logo .studio {
  color: #f4f4fd;
}
.logo {
  text-decoration: none;
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
}
.part-1 {
  background-color: #f4f4fd;
}
.back-3 h2 {
  font-style: bold;
  font-size: 36px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.space h2 {
  font-style: bold;
  font-size: 36px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.back-3 h3 {
  font-size: 20px;
}
.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  gap: 24px;
}
.social-links a {
  border-radius: 50px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  gap: 24px;
}
.social-links a:hover {
  background-color: #31d0aa;
}
.icon-instagram {
  width: 24px;
  height: 24px;
}
.icon-twitter {
  width: 24px;
  height: 24px;
}
.icon-facebook {
  width: 24px;
  height: 24px;
}
.icon-linkedin {
  width: 24px;
  height: 24px;
}
.shadow-1 {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}
.shadow {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.12);
  background-color: #fffff;
}

.shadow {
  border-right: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-color: #404bbf;
}
.content-5 {
  text-align: center;
  color: #ffffff;
  padding-bottom: 30px;
}
.content-4 {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-right {
  color: #ffffff;
}
.footer-right p {
  margin-top: 100px;
  padding-bottom: 20px;
}
.subscribe {
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 264px;
  margin: 0 auto;
}
.subscribe-input {
  width: 100%;
  max-width: 300px;
  height: 44px;

  padding: 8px 16px;
  margin-top: 20px;

  background-color: transparent;
  border: 1px solid #ffffff;
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  min-width: 140px;
  height: 40px;
  padding: 0 12px;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;

  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.icon-icon-send {
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
}

.cashless-card {
  position: relative;
  overflow: hidden;
  width: 288px;
  height: 280px;
}
.part-2 img {
  width: 288px;
  height: 280px;
  padding-right: 5px;
  padding-left: 10px;
}
.no-bullets-1 h3 {
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.no-bullets-1 p {
  margin-left: 50px;
  margin-bottom: 20px;
}
.no-bullets-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.order-btn {
  top: 428px;
  left: 636px;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  gap: 10px;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.044em;
}
.content-1 h3 {
  margin-top: 100px;
  margin-bottom: 16px;
}
.back-3 h2 {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
}
.space h2 {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 100px;
}
.no-bullets-2 li {
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
  padding-top: px;
}
.no-bullets-2 ul {
  margin-bottom: 20px;
}
.no-bullets-2 a {
  text-decoration: none;
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  top: 72px;
  left: 16px;
  gap: 40px;
}

.icon-Vector-3 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 318px;
  top: 23px;

  color: #2e2f42;
}
.menu-close {
  position: absolute;
  top: 16px;
  right: 50px;
  width: 24px;
  height: 24px;
  background: #f4f4fd;
  border: 1px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.modal {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.icon-icon-send {
  position: relative;
  width: 24px;
  height: 20px;
  margin-left: 10px;
}
.modal.is-open {
  display: flex;
}
.modal-content {
  position: relative;
}
.form-toggle :checked ~ .mobile-menu {
  display: block;
}

.contact-form {
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 288px;
  height: 623px;
}
.contact-form h3 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #2e2f42;
}
.contact-form label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 14px;
  margin: 10px 0 5px;
  color: #8e8f99;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.modal-close:hover {
  background-color: #4d5ae5;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-Vector {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 30px;
  left: 10px;
}
.icon-Vector-1 {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 35px;
  left: 10px;
}
.icon-Vector-2 {
  position: absolute;
  width: 15px;
  height: 12px;
  top: 35px;
  left: 10px;
}
.icon-Line-1 {
  width: 18px;
  height: 0;
  border: 1.25px;
  top: 50px;
  left: 20px;
  color: #2e2f42;
}
input:focus {
  border-color: #4d5ae5;
  outline: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form label:focus-within .icon-Vector {
  fill: #4d5ae5;
  outline: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form label:focus-within .icon-Vector-1 {
  fill: #4d5ae5;
  outline: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form label:focus-within .icon-Vector-2 {
  fill: #4d5ae5;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form label:focus-within .input {
  border-color: #4d5ae5;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox {
  display: flex;
  gap: 10px;
}
#terms {
  width: auto;
}
.modal-send-btn {
  width: 200px;
  height: 50px;
  display: block;
  margin: 24px auto 0;

  background-color: #4d5ae5;
  color: #ffffff;

  border: none;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal-content {
    width: 408px;
  }

  .contact-form {
    padding: 24px;
  }

  .modal-send-btn {
    width: calc(100% - 48px);
    margin: 24px auto 0;
  }
}
@media screen and (min-width: 1158px) {
  .modal-content {
    width: 528px;
  }

  .contact-form {
    padding: 24px;
  }

  .modal-send-btn {
    width: calc(100% - 96px);
    margin: 32px auto 0;
  }
}
