*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffff;
  color: #2f2f42;
  position: relative;
}
.icon-Group {
  color: #2f2f37;
  width: 24px;
  height: 24px;
  cursor: pointer;
  visibility: hidden;
}
.menu-button {
  cursor: pointer;
  position: relative;
}
.mobile-nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #2f2f42;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0;
  visibility: hidden;
}
.menu-close {
  position: absolute;
  position: absolute;
  width: 8px;
  height: 8px;
  top: 8px;
  left: 8px;
  color: #2e2f42;
  cursor: pointer;
}
#menu-toggle {
  display: none;
}
#menu-toggle:checked ~ .mobile-nav {
  opacity: 1;
  visibility: visible;
}
