.body {
  font-family: "Roboto", sans-serif;
}

.content-1 {
  font-size: 16px;
  font-style: Medium;
  color: #434455 line-height 1.5;
  letter-spacing: 0.02em;
  padding: 120px;
}

.content-2 h3 {
  font-weight: 500;
  font-size: 20px;
  font-style: Medium;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.content-2 p {
  font-size: 16px;
  font-style: Regular;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.content-3 {
  font-weight: 700;
  font-size: 36px;
  font-style: bold;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  border: 1px;
}

.back-1 {
  background-color: #2e2f42;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/img14.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding: 120px 0;
  text-align: center;
}

.title-1 {
  top: 260px;
  left: 472px;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-style: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0 auto;
}

.back-2 {
  background-color: #2e2f42;

  text-align: left;
}

.content-4 {
  font-size: 16px;
  font-style: Regular;
  display: flex;
  gap: 120px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 100px 0 100px 156px;
}
a p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  text-decoration: none;
  font-size: 18px;
  font-style: bold;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
}

.web {
  color: #4d5ae5;
}

.top-logo .studio {
  color: #2e2f42;
}

.bottom-logo .studio {
  color: #f4f4fd;
}

.order-btn {
  top: 428px;
  left: 636px;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  gap: 10px;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.044em;
}

.no-bullets {
  list-style: none;
  display: flex;
  gap: 32px;
  top: 1248px;
  justify-content: center;
  text-align: center;
}

.no-bullets-1 {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  text-align: center;
}

.no-bullets-2 {
  list-style: none;
  display: flex;
  gap: 40px;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0;
  border-bottom: 1px;
}
.title-3 {
  display: flex;

  gap: 30px;
  align-items: center;
}
.title-3 a {
  font-style: normal;
}

.title-2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

nav ul li a {
  text-decoration: none;
  color: #2e2f42;
}

nav ul li a:hover {
  color: #404bbf;
}

address a {
  text-decoration: none;
  color: #434455;
}

address a:hover {
  color: #404bbf;
}

.content-3 img {
  display: flex;
  gap: 24px;
}
.content-5 {
  text-align: left;
}

.contanier {
  max-width: 1440px;
  margin: 0 auto;
}
.brd {
  border: 1px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.part-1 {
  background-color: #f4f4fd;
}

.part-1 .part-2 {
  padding: 120px;
}
.nvg {
  display: flex;
  align-items: center;
  gap: 100px;
}

.nav a {
  position: relative;
  text-decoration: none;
}
.nav a .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100;
  height: 2px;
  background-color: crimson;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  margin-top: 40px;
  padding: 120px 0;
}
.section {
  padding: 120px;
}
.shadow-1 {
  box-shadow: 0px 1px 53px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
}
.shadow {
  border-right: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-color: #404bbf;
}
.shadow:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  transition-timing-function: 250ms- cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-antenna {
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f4f4fd;
}
.icon-clock {
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  padding: 10px;

  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f4f4fd;
}
.icon-diagram {
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f4f4fd;
}
.icon-astronaut {
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  padding: 10px;

  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f4f4fd;
}
.icon-intagram {
  color: #404bbf;
}
h3 p {
  border: 1px solid white;
  padding: 10px;
  width: 264 px;
  height: 112 px;
  background-color: white;
}
.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 20px;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  gap: 24px;
}
.social-links a {
  border-radius: 50px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  gap: 24px;
}
.social-links a:hover {
  background-color: #31d0aa;
}
.icon-instagram {
  width: 24px;
  height: 24px;
}
.icon-twitter {
  width: 24px;
  height: 24px;
}
.icon-facebook {
  width: 24px;
  height: 24px;
}
.icon-linkedin {
  width: 24px;
  height: 24px;
}

.footer-right p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 16px;
}

h3 p {
  margin-bottom: 8px;
}
.back-3 h3 {
  margin-bottom: 8px;
}
.back-3 p {
  margin-bottom: 8px;
}
.back-3 h2 {
  margin-bottom: 72px;
}
.space h2 {
  margin-bottom: 72px;
}
.no-bullets-1 h3 {
  margin-bottom: 8px;
}
.cashless-card {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 300px;
}
.cashless-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3 ease;
}
.cashless-card .hover-img {
  opacity: 0;
}
.cashless-card:hover .hover-img {
  opacity: 1;
}
.cashless-card:hover .normal-img {
  opacity: 0;
}
.overlay-text {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3 ease;
}
.cashless-card:hover .overlay-text {
  opacity: 1;
}
img {
  display: block;
  margin-bottom: 32px;
}
.cashless-card {
  display: block;
  margin-bottom: 32px;
}
.thumb {
  padding-bottom: 32px;
}
.modal {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modal.is-open {
  display: flex;
}
.modal-content {
  position: relative;
}

.contact-form {
  background: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 408px;
  height: 584px;
}
.contact-form h3 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #2e2f42;
}
.contact-form label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 14px;
  margin: 10px 0 5px;
  color: #8e8f99;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contact-form textarea {
  min-height: 80px;
  resize: none;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background: #4d5ae5;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
.contact-form button:hover {
  background: #404bbf;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscibe-form {
  display: flex;
  gap: 10px;
  align-items: center;
}
.subscibe-form input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  flex: 1;
}
.subscribe-form button {
  display: inline-flex;
  align-items: center;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  gap: 5px;
}
.subscribe-form button:hover {
  background-color: #404bbf;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscibe-form button .icon-icon-send {
  display: flex;
  position: absolute;
  width: 24px;
  height: 20px;
  top: 2px;
}

.icon-icon-send {
  position: relative;
  width: 24px;
  height: 20px;
  margin-left: 10px;
}
.icon-Vector-3 {
  position: absolute;
  width: 8px;
  height: 8px;
  top: 8px;
  left: 8px;
  color: #2e2f42;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.modal-close:hover {
  background-color: #4d5ae5;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-Vector {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 30px;
  left: 10px;
}
.icon-Vector-1 {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 35px;
  left: 10px;
}
.icon-Vector-2 {
  position: absolute;
  width: 15px;
  height: 12px;
  top: 35px;
  left: 10px;
}
.icon-Line-1 {
  width: 18px;
  height: 0;
  border: 1.25px;
  top: 50px;
  left: 20px;
  color: #2e2f42;
}
input:focus {
  border-color: #4d5ae5;
  outline: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form label:focus-within .icon-Vector {
  fill: #4d5ae5;
  outline: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form label:focus-within .icon-Vector-1 {
  fill: #4d5ae5;
  outline: none;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form label:focus-within .icon-Vector-2 {
  fill: #4d5ae5;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form label:focus-within .input {
  border-color: #4d5ae5;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox {
  display: flex;
  gap: 10px;
}
#terms {
  width: auto;
}
